.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000 !important;
    padding: 0px !important;
    background-color: #141414;
}

.navbar-nav {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    align-items: end !important;
}

.nav-item {
    margin-left: 5px;
    margin-right: 5px;
    min-width: auto;
}

.text-dashboard{
    font-weight: bold;
    color: #ffc107;
}

.text-dashboard:hover{
    transform: scale(1.1);
    color: rgb(134, 12, 12) !important;
}

.search-form {
    display: flex;
    align-items: center;
}

.navbar.bg-transparent {
    background-color: transparent !important;
    transition: background-color 150ms ease-out;
}

.navbar.bg-black {
    background-color: black !important;
    transition: background-color 150ms ease-out;
}

.navbar.bg-cat {
    background-color: #141414 !important;
}

.nav-link {
    font-size: 0.95rem;
}

.nav-link:hover {
    color: #b3b3b3 !important;
}

.logo {
    vertical-align: middle;
    padding: 10px;
    height: 50px; 
    margin-right: 10px;
    margin-left: 4.1vh;
}

.search-input {
    background-color: transparent;
    width: 0px;
    border: none;
    padding: none;
    transition: width 0.1s ease-in-out;
    transform-origin: right center;
}

.search-input.show {
    display: inline-block;
    background-color: black;
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.8vh;
    width: 30vh;
}

.collapse.show {
    transition: all 0.3s ease-in-out;
    margin-right: 10px;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

.shake {
    animation: shake 0.5s;
    animation-fill-mode: forwards;
}

@media (max-width: 768px) {
    .navbar-nav li {
        margin-left: 10px;
        margin-right: 20px !important;
    }
    .search-input.show{
        width: 50vw !important;
    }
}